					/*Шрифы*/
@font-face {
    font-family: MyriadProBold;
    src: url("fonts/MyriadPro-Bold/MyriadPro-Bold/MyriadPro-Bold.eot"); /* IE9 Compat Modes */
    src: url("fonts/MyriadPro-Bold/MyriadPro-Bold/MyriadPro-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
         url("fonts/MyriadPro-Bold/MyriadPro-Bold/MyriadPro-Bold.woff") format("woff"), /* Modern Browsers */
         url("fonts/MyriadPro-Bold/MyriadPro-Bold/MyriadPro-Bold.ttf")  format("truetype"), /* Safari, Android, iOS */
         url("fonts/MyriadPro-Bold/MyriadPro-Bold/MyriadPro-Bold.svg#svgFontName") format("svg"); /* Legacy iOS */
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: MyriadProRegular;
    src: url("fonts/MyriadPro-Regular/MyriadPro-Regular/MyriadPro-Regular.eot"); /* IE9 Compat Modes */
    src: url("fonts/MyriadPro-Regular/MyriadPro-Regular/MyriadPro-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
         url("fonts/MyriadPro-Regular/MyriadPro-Regular/MyriadPro-Regular.woff") format("woff"), /* Modern Browsers */
         url("fonts/MyriadPro-Regular/MyriadPro-Regular/MyriadPro-Regular.ttf")  format("truetype"), /* Safari, Android, iOS */
         url("fonts/MyriadPro-Regular/MyriadPro-Regular/MyriadPro-Regular.svg#svgFontName") format("svg"); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}

*{
	margin: 0;
	padding: 0;
}

body{
	width: 100%;
}

a{
	text-decoration: none;
}


header, footer, nav, section, article{
	display: block;
}

header{
	background-color: #333333;
	padding: 0 6.36%;
}

header p{

	float: left;
	font-family: MyriadProRegular;
	font-size: 60px;
	color: #eeeeee;
	padding-top: 42px;
}

nav{
	float: right;
	padding-top: 70px;
	padding-bottom: 40px;

}

nav a{
	display: inline-block;
	font-size: 16px;
	color: #eeeeee;
	font-family: Arial;
	padding: 3px 0 3px 30px;

}

nav a:hover{
	color: #00aeef;
}

header:after {
  content: "";
  display: table;
  clear: both;
}

.content{
	padding: 0 6.36%;
}

#featured hgroup{
	border-bottom: 5px dotted #cccccc;
	padding-top: 67px;
	padding-bottom: 30px;
}

h1{
	font-family: MyriadProBold;
	font-size: 60px;
	color: #333333;
}

h1 span{
	color: #00bff3;
}

h2{
	font-family: MyriadProRegular;
	font-size: 50px;
	color: #bbbbbb;
	line-height: 53px;
}

#featured p{
	font-family: MyriadProRegular;
	font-size: 34px;
	color: #555555;
	padding: 36px 0;
}

#featured p span{
	font-family: MyriadProBold;
	font-size: 34px;
	color: #555555;
}

#services{
	padding: 43px 0;
	border-bottom: 5px dotted #cccccc;
	border-top: 5px dotted #cccccc;
}

.services-block{
	background-color: #00aeef;
	text-align: center;
	float: left;
	width: 26.73%;
	margin-right: 3%;
    padding-left: 2.3%;
    padding-right: 2.3%;
    padding-bottom: 35px;
}

.services-block:last-child{
	margin-right: 0;
}

h3{
	
	font-family: MyriadProRegular;
	font-size: 40px;
	color: #ffffff;
	border-bottom: 3px dotted #ffffff;
	padding-top: 25px;
	padding-bottom: 15px;
}

.services-block p{
	font-size: 14px;
	font-family: Arial;
	padding: 27px 0;
}

.services-block a{
	display: block;
	font-size: 18px;
	font-family: MyriadProRegular;
	color: #ffffff;
	padding: 10px 16px;
	background: #0076a3;
	border: 1px solid #165e7a;
}

#services:after {
  content: "";
  display: table;
  clear: both;
}

#AdditionalInfo{
	padding: 38px 0;
}

.test{
	float: left;
	width: 43.64%;
	border-right: 5px dotted #cccccc;
}

.project{
	float: right;
	width: 43.64%;
}

.project p{
	font-size: 14px;
	color: #555555;
	font-family: Arial;
	margin-top: 20px;
	margin-bottom: 15px;
	line-height: 18px;
}

figcaption{
	font-size: 20px;
	color: #888888;
	font-family: Arial;
}

.image{
	margin: 10px 0px 10px auto;
}

.project a{
	font-size: 14px;
	color: #00aeef;
	font-family: Arial;
}

h4{
	font-family: MyriadProRegular;
	font-size: 24px;
	color: #555555;
	padding-bottom: 23px;
}

article{
	padding-bottom: 35px;
	width: 100%;
}

.profile{
	float: left;
	background: #cccccc;
	margin-right: 30px;
	width: 85px;
	height: 85px;
}
.description img{
	float: left;
	background: #cccccc;
	margin-right: 30px;
	width: 85px;
	height: 85px;
}

.blog{
	margin-bottom: 20px;
	font-size: 14px;
	color: #555555;
	font-family: Arial;
	line-height: 17px;
}

.description .signature{
	font-size: 14px;
	color: #00aeef;
	font-family: Arial;
}

#AdditionalInfo:after {
  content: "";
  display: table;
  clear: both;
}


footer{
	padding: 0 6.36%;
	height: 535px;
	
}

footer p{
	padding-top: 15px;
	border-top: 5px dotted #cccccc;
	font-size: 16px;
	color: #888888;
	font-family: Arial;
}
