/********************Шрифы****************************/

@font-face {
  font-family: MyriadProBold;
  src: url("fonts/MyriadPro-Bold/MyriadPro-Bold/MyriadPro-Bold.eot"); /* IE9 Compat Modes */
  src: url("fonts/MyriadPro-Bold/MyriadPro-Bold/MyriadPro-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("fonts/MyriadPro-Bold/MyriadPro-Bold/MyriadPro-Bold.woff") format("woff"), /* Modern Browsers */
  url("fonts/MyriadPro-Bold/MyriadPro-Bold/MyriadPro-Bold.ttf")  format("truetype"), /* Safari, Android, iOS */
  url("fonts/MyriadPro-Bold/MyriadPro-Bold/MyriadPro-Bold.svg#svgFontName") format("svg"); /* Legacy iOS */
  font-weight: bold;
  font-style: normal;

}

@font-face {
  font-family: MyriadProRegular;
  src: url("fonts/MyriadPro-Regular/MyriadPro-Regular/MyriadPro-Regular.eot"); /* IE9 Compat Modes */
  src: url("fonts/MyriadPro-Regular/MyriadPro-Regular/MyriadPro-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("fonts/MyriadPro-Regular/MyriadPro-Regular/MyriadPro-Regular.woff") format("woff"), /* Modern Browsers */
  url("fonts/MyriadPro-Regular/MyriadPro-Regular/MyriadPro-Regular.ttf")  format("truetype"), /* Safari, Android, iOS */
  url("fonts/MyriadPro-Regular/MyriadPro-Regular/MyriadPro-Regular.svg#svgFontName") format("svg"); /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}


body{
  width: 100%;
}

.content{
  width: 90%;
  margin: 0 5%;
}

.block-left{
  float: left;
  width: 43%;
  padding-right: 6%;
}


.block-right{
  float: right;
  width: 51%;
}

.icon{
  height: 78px;
  position: relative;
  width: 100%;  
}

.icon img{
  height: 78px;
  width: 78px;
  float: left;
}

.icon .headline{
  color: #3d6cb0;
  font-family: MyriadProBold;
  font-size: 41px;
  float: left;
  padding: 0 32px;
  position: relative;
  top: 40%;
  left: -3%; 
}

.icon .line{
  height: 5px;
  background-color: #3d6cb0;
  float: left;
  width: 32%;
  position: relative;
  top: 50%;
  left: -5%;  
}

/*********************block-resume****************************/
.block-resume{
  margin-top: 87px;
  margin-bottom: 80px;
  position: relative;
  text-align: center;
}

.block-resume .photo{
  position: relative;
  margin-bottom: 37px;
  width: 100%;
}

.block-resume .circle-profile{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 231.5px;
  border-radius: 50%;
  position: absolute;
}

.block-resume .layer1{
  background-color: #ffffff;
  width: 231.5px;  
  height: 231.5px;
  border: 2px solid #3d6cb0;
  position: relative;
}

.block-resume .layer2{
  background-color: #3d6cb0;
  width: 203px;
  height: 203px;
  position:absolute;
}

.block-resume .name{
  font-family: MyriadProRegular;
  font-size: 52px;
  position: relative;
  /*left: 89px;*/
}

.block-resume .last-name{
  font-family: MyriadProBold;
  font-size: 62px;
  line-height: 55px;
  position: relative;
  /*left: 89px;*/
}

.block-resume .profession{
  font-family: MyriadProRegular;
  font-size: 25px;
  line-height: 40px;
  position: relative;
  /*left: 108px;*/
}

/*********************block-profile****************************/

.block-profile .text{
  clear: both;
  padding: 16px 0 52px 0;
  font-family: MyriadProRegular;
  font-size: 15px;
}

.block-profile .text-strong{
  font-family: MyriadProBold;
}


/*********************block-contact****************************/


.block-contact {
  margin-bottom: 52px;
}

.block-contact .address{
  clear: both;
  padding-top: 48px;
}

.block-contact .info{
  font-family: MyriadProRegular;
  font-size: 21px;
  color: #3d6cb0;
  display: inline-block;
  color: black;
}

.block-contact .contact{
  font-family: MyriadProBold;
  font-size: 21px; 
  color: #3d6cb0;
  padding-bottom: 40px;
}

.address .info{
  padding-left: 43px;
}

.email .info{
  padding-left: 65px;
}

.phone .info{
  padding-left: 65px;
}

.website .info{
  padding-left: 48px;
}

/*********************block-skills****************************/

.block-skills ul{
  clear: both;
}

.block-skills ul p{
  font-family: MyriadProRegular;
  font-size: 26px;
  padding-bottom: 15px;
  padding-top: 30px;
  position: relative;
  /*left: 160px;*/
}

.block-skills .point{
  display: inline-block;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background-color: #3d6cb0;
  margin-right: 10px;
}

.block-skills .gray{
  background-color: #e6e6e6;
}

/*********************block-education&block-experience****************************/

.block-education {
  padding-top: 75px;
}

.block-education ul{
  clear: both;
  padding: 30px 0 52px 0;
}

.block-experience ul{
  clear: both;
  padding: 46px 0 52px 0;
}

.degree,
.company{
  color: #3d6cb0;
  font-family: MyriadProBold;
  font-size: 26px;
}

.degree:before{
  display: inline-block;
  content: " ";
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background-color: #000;
  margin-right: 21px;
}

.university,
.description-degree,
.company-position,
.description-position{
 margin-left: 42px;
}

.company{
  color: #000000;
}

.company:before{
  display: inline-block;
  content: " ";
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background-color: #000;
  margin-right: 21px;
}

.date{
  color: #020202;
  font-family: MyriadProRegular;
  font-size: 26px;
  margin-left: 15px;
}

.university,
.company-position{
  padding: 15px 0;
  font-family: MyriadProRegular;
  font-size: 26px;
}

.description-degree,
.description-position{
  font-family: MyriadProRegular;
  font-size: 16px;
  line-height: 16px; 
  padding-bottom: 21px;
}

/*********************block-software****************************/

.block-software .knowledge{
  clear: both;
  width: 100%;
  padding-top: 32px;
  font-family: MyriadProRegular;
  font-size: 26px;
}

.block-software .knowledge-1{
  float: left;
  width: 50%;
}

.block-software  .knowledge-2{
  float: right;
  width: 50%;
}

.block-software progress {
  width: 50%;
  margin-top: 20px;
  height: 22px;
  /*  background-color: #3d6cb0;*/
  border: 0;
  margin-bottom: 30px;
}


/*********************@media****************************/


@media (max-width: 700px){

  .content{
    width: 96%;
    margin: 0 2%;
  }

  .block-left{
    width: 96%;
    margin: 0 2%;
    padding: 0;
  }

  .block-right{
    clear: both;
    width: 96%;
    margin: 0 2%;
  }

  .icon .headline{
    font-size: calc(100vw/20);
  }

  /*********************block-resume****************************/

  .block-resume .name{
    font-size: calc(100vw/13);

  }

  .block-resume .last-name{
    font-size: calc(100vw/11);
  }

  .block-resume .profession{
    font-size: calc(100vw/28);
    line-height: 35px;
  }
  /*********************block-education&block-experience****************************/

  .degree,
  .company{
    font-size: calc(100vw/27);
  }

  .date{
    font-size: calc(100vw/27);
    margin-left: 10px;
  }

  .degree:before{
    width: 15px;
    height: 15px;
  }

  .company:before{
    width: 15px;
    height: 15px;
  }

  /*********************block-software****************************/

  .block-software .knowledge-1{

    width: 96%;
    margin: 0 2%;
  }

  .block-software  .knowledge-2{
    clear: both;
    width: 96%;
    margin: 0 2%;
  }

  .block-software progress {
    width: 96%;
  }

  /*********************block-skills****************************/

.block-skills ul p{
  font-size: calc(100vw/27);
}

.block-skills .point{
  display: inline-block;
  width: 15px;
  height: 15px;
}

}


@media (min-width: 700px) and (max-width: 980px){

  .content{
    width: 96%;
    margin: 0 2%;
  }

  .icon .headline{
    font-size: calc(100vw/24);
    left: -7%; 
  }

  /*********************block-resume****************************/

  .block-resume .name{
    font-size: calc(100vw/15);

  }

  .block-resume .last-name{
    font-size: calc(100vw/13);
  }

  .block-resume .profession{
    font-size: calc(100vw/30);
    line-height: 35px;
  }
  /*********************block-education&block-experience****************************/

  .degree,
  .company{
    font-size: calc(100vw/32);
  }

  .date{
    font-size: calc(100vw/32);
    margin-left: 3px;
  }

  .degree:before{
    width: 15px;
    height: 15px;
  }

  .company:before{
    width: 15px;
    height: 15px;
  }


  /*********************block-skills****************************/

.block-skills ul p{
  font-size: calc(100vw/27);
}

.block-skills .point{
  display: inline-block;
  width: 15px;
  height: 15px;
}
}

